body{
    background-color: rgb(2, 82, 55);
    font-family: system-ui, -apple-system, sans-serif;
    color:rgb(10, 6, 31)
}

h1{
    background-color: rgb(169, 249, 182);
    text-align: center;
    font-size: larger;
    color: rgb(1, 21, 39);
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin: 50px;
    
}